body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #C6B89E;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-image: url('fundocar.jpg'); 
    background-size: cover; 
    background-position: center center; 
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
}

nav {
    margin-left: 20px;
}

button {
    padding: 10px;
    border: 1px solid #1A3524;
    background-color: #1A3524;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin: 10px 0;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #1A3524;
}

button:focus {
    outline: none;
    background-color: #1A3524;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button:focus:hover {
    background-color: #C6B89E;
}

main {
    margin-top: 60px;
}

.image-text p {
    font-size: 28px;
    margin-left: 20px; 
}

.image-text img {
    max-width: 400px;
    height: auto;
}

.image-text {
    display: flex;
    align-items: center;
    margin: 20px 0;
    flex-direction: row; 
}
